/* Import Poppins and Montserrat fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import url('./variables.css');
@import url('./header.css');
@import url('./buttons.css');
@import url('./form.css');
@import url('./author.css');
@import url('./books.css');

:root {

    --font-family-main: 'Poppins', sans-serif;
    /* --font-family-main: 'Montserrat', sans-serif; */

    font-family: var(--font-family-main);
    
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem
}

.page-header { 
    font-size: 2rem;
    font-weight: 500;
}

.error-message {
    color: hsl(var(--color-danger-hue), 100%, 50%);
}